h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
        body {
            background-image: url(/app/backgrounImg/23947013-grunge-scratched-dirty-film-strip-film-reel-background-Stock-Photo.jpg);
            background-size: cover;
            width: 98%;
            height: calc(100%);
        }
        #table {
            background-color: white;
            border: none;
            width: 90%;
            opacity: 0.9;
            font-weight: bold;
            font-size: 19px;
            margin: auto;
        }
        tr:nth-child(even) {
            background-color: #7a6f64;
        }

        th, td {
            padding: 10px;
            text-align: left;
            text-align: center;
        }
        th {
            font-size: 22px;
            font-weight: normal;
            text-shadow:1px 0px 2px black;
        }
        a {
            display: inline-block;
            margin-right: 10px;
            margin-left: 30px;
            text-decoration: none;
            color: black;
            text-align: center;
            width: 250px;
            margin-bottom: 30px;
            background-color: white;
            height:40px;
        }

            a:visited {
                color: black;
            }

            a:hover {
                color: #61c5d5;
            }

                form {
            width: 370px;
            background-color: #2e241c;
            border: 2px solid gray;
            margin-left: 100px;
            padding: 20px;
            font-size: 23px;
            opacity: 0.8;
            color: #e6e2d9;
            border-radius: 10px;
            box-shadow: 4px 4px 20px #5f2f0f;
            margin-bottom: 170px;
        }

        input, select { width:350px;   height:35px;  font-size:20px; }

#remove:hover, #edit:hover{
  color:#286090;
  cursor: pointer;
}
        h2 {
            color: #423830;
            text-shadow: 4px 4px 4px #c7b6a7;
            margin-left: 140px;
            font-size: 40px;
        }
          #idSubscription, #idCustomer, #idMovie, #idCategory{
                        color: #423830;
                        width:325px;
          }
